html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-select option{
    padding:6px;
}
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

#loading-container {
    display: none; /* Ẩn hiệu ứng ban đầu */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Màu nền semi-transparent */
    z-index: 9999;
}

#loading-spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite; /* Tạo hiệu ứng xoay xoay */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loading-text {
    text-align: center;
    color: #fff;
    font-size: 18px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
}

#danh-sach {
    max-height: 200px; /* Đặt chiều cao tối đa cho danh sách */
    overflow-y: scroll; /* Bật cuộn dọc */
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

/* Định dạng của swiper-container */
.swiper-container {
    padding-top:30px;
    width: 100%; /* Chiều rộng của swiper-container, có thể thay đổi tùy ý */
    height: 350px; /* Chiều cao của swiper-container, có thể thay đổi tùy ý */
    margin: 0 auto; /* Căn giữa swiper-container trong trang */
    border-radius:20px;
    overflow: hidden; /* Ẩn nội dung tràn ra ngoài swiper-container */
}

/* Định dạng của các slide bên trong swiper-container */
.swiper-slide {
    width: 300px; /* Chiều rộng của slide, có thể thay đổi tùy ý */
    height: 100%; /* Chiều cao của slide, giữ slide cao bằng swiper-container */
    display: flex; /* Cho phép nội dung bên trong căn giữa slide */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    background-color: #fff; /* Màu nền của slide */
    border: 1px solid #ccc; /* Viền của slide */
    border-radius:20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); /* Đổ bóng slide */
    transition: transform 0.3s ease; /* Hiệu ứng chuyển đổi khi trượt slide */
}

/* Định dạng của slide đang được chọn */
.swiper-slide-active {
    transform: scale(1.1); /* Phóng to slide đang được chọn */
}

.css-9jq23d {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    color: rgb(51, 51, 51);
    font-size: 85%;
    padding: 3px 3px 3px 6px;
    box-sizing: border-box;
}
#root{
    padding-bottom:8%;
}


/* CSS cho nút đăng nhập Google */
#googleLoginBtn {
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

    #googleLoginBtn:hover {
        background-color: #357ae8;
    }
.back-to-top-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    transition: background-color 0.3s ease;
}

    .back-to-top-button i {
        font-size: 24px;
    }

    .back-to-top-button:hover {
        background-color: #0056b3;
    }
.navbar {
    background-color: #333; /* Màu nền của navbar */
    color: #fff; /* Màu chữ trên navbar */
    padding: 10px; /* Khoảng cách giữa các phần tử trong navbar */
    transition: background-color 0.3s; /* Hiệu ứng màu nền khi scroll */
}

    .navbar.fixed {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000; /* Đảm bảo navbar ở trên cùng */
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Hiệu ứng bóng đổ */
    }

.scrollable-list {
    max-height: 200px; /* Đặt chiều cao tối đa của danh sách */
    overflow-y: auto; /* Cho phép cuộn theo trục Y nếu nội dung vượt quá chiều cao */
    border: 1px solid #ccc; /* Tùy chỉnh theo nhu cầu của bạn */
}

ul {
    list-style-type: none; /* Loại bỏ dấu hiệu danh sách mặc định */
    padding: 0; /* Loại bỏ khoảng cách lề trong danh sách */
}

li {
    padding: 5px 10px; /* Tùy chỉnh theo nhu cầu của bạn */
    border-bottom: 1px solid #eee; /* Tạo đường kẻ phân tách giữa các mục */
}
body .modal-header {
    background: #0d6efd !important;
    padding: 15px 25px
}
.btn.btn-link.btn-floating.mx-1{
    border:1px solid #3333
}
