@model List<ApiModel>
@{
    ViewData["Title"] = "Intern";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav style="background-color:#e9ecef;height:100%">
    <ol class="breadcrumb" itemtype="https://schema.org/BreadcrumList">
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="htpp://schema.org/ListItem">
            <a href="/">@TempData["ControllerName"]</a>
        <li class="breadcrumb-item" itemprop="itemListElement" itemscope itemtype="htpp://schema.org/ListItem">
            <a href="@Url.Action(TempData["ActionName"].ToString())">@TempData["ActionName"]</a>
        </li>
        </li>
    </ol>
</nav>

